 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a la trivia de peliculas!</title>
</head>
<body>
    <h1>Trivia de peliculas</h1>
</body>
<body>
    <img src="static/images/trivia.png" class="img-fluid" alt="">
</body>
<body>
    <form action="/" method="post">
        <label for="nombre">Agregue nombre de usuario:</label>
        <input type="text" id="nombre" name="nombre" ><br>
    </form><br>
    <form action="/add">        
        <input type="submit" value="Iniciar trivia">
      </form><br>
     <form action="/add2">        
         <input type="submit" value="Ver resultados">
        </form>
     
</body>
</html>